* {
	margin: 0;
	padding: 0;
}

html,
body {
	overflow: hidden;
}

.webgl {
	position: fixed;
	top: 0;
	left: 0;
	outline: none;
	/* display: none; */
}

.loadingScreen {
	position: absolute;
	width: 100vw;
	height: 100vh;
	background-color: black;
	z-index: 1000;
	transition: all 1s;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.loadingText {
	font-size: xx-large;
	font-family: 'Klee One', cursive;
	color: white;
	margin-bottom: 10px;
}

.dot-1 {
	animation: visibility 3s linear infinite;
}

@keyframes visibility {
	0% {
		opacity: 1;
	}
	65% {
		opacity: 1;
	}
	66% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

.dot-2 {
	animation: visibility2 3s linear infinite;
}

@keyframes visibility2 {
	0% {
		opacity: 0;
	}
	21% {
		opacity: 0;
	}
	22% {
		opacity: 1;
	}
	65% {
		opacity: 1;
	}
	66% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

.dot-3 {
	animation: visibility3 3s linear infinite;
}

@keyframes visibility3 {
	0% {
		opacity: 0;
	}
	43% {
		opacity: 0;
	}
	44% {
		opacity: 1;
	}
	65% {
		opacity: 1;
	}
	66% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}
.loadingBar {
	top: 50%;
	width: 75%;
	height: 2px;
}
.loadingProgress {
	height: 100%;
	width: 100%;
	background-color: white;
	transform: scaleX(0);
	transform-origin: left;
	transition: all .5s;
}

.welcomeScreen {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	height: 100%;

	display: flex;
	justify-content: center;
	align-items: center;

	/* display: none; */
}

.browser {
	box-sizing: border-box;
	width: 112%;
	height: 112%;

	border-radius: 10px;
	/* background-color: #fff; */
	overflow: hidden;

	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	transition: width 1s height 1s;
}

.subtitle {
	border-radius: 10px;
	box-sizing: border-box;
	position: absolute;
	top: 90%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 10px;
	text-align: center;

	display: flex;
	align-items: center;
	justify-content: center;

	color: white;
	background-color: rgba(53, 51, 51, 0.8);
	font-size: 40px;

	visibility: hidden;
}
.controls {
	box-sizing: border-box;
	padding: 5vw;
	position: absolute;
	width: 100%;
	opacity: 50%;
	color: gray;
	display: flex;
	justify-content: space-between;
	z-index: 500;
}
.rightArrow {
	transition: all .5s;
	cursor: pointer;
}
.rightArrow:hover {
	transform: scale(1.3);
}
.leftArrow {
	transition: all .5s;
	cursor: pointer;
	visibility: hidden;
}
.leftArrow:hover {
	transform: scale(1.3);
}
